# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
logs/
npm-debug.log*

# OS system files
.DS_Store
Thumbs.db

# Optional - VSCode or JetBrains configs
.vscode/
.idea/

# Coverage or test output
coverage/

# Cache
.cache/
